@import './variables';

.forgotPassword > .forgotPassword__section {
    padding-top: 50px;
    background: $secondary;
    height: calc(100vh - 100px);
}

.forgotPassword > .forgotPassword__section > .forgotPassword__title {
    display: flex;
    justify-content: center;
    
}

.forgotPassword > .forgotPassword__section > .forgotPassword__title > h1 {
    color: $primary;
    padding-bottom: 10px;
}

.forgotPassword > .forgotPassword__section > .forgotPassword__form {
    display: flex;
    justify-content: center;
}

.forgotPassword > .forgotPassword__section > .forgotPassword__form > form {
    padding: 25px 30px;
    box-shadow: 0px 0px 10px $gray;
    width: 25%;
    background: $pure;
}

.forgotPassword > .forgotPassword__section > .forgotPassword__form > form > .label > label {
    font-weight: bold;
}

.forgotPassword > .forgotPassword__section > .forgotPassword__form > form > input {
    border: 2px solid $gray;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.forgotPassword > .forgotPassword__section > .forgotPassword__form > form > .button__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.forgotPassword > .forgotPassword__section > .forgotPassword__form > form > .button__link > .button {
    border-radius: 5px;
    width: 100%;
    padding: 5px 15px;
    color: $pure;
    background: $primary;
    transition: $smooth;

    &:hover {
        background: $primary-hover;
    }
}

.forgotPassword > .forgotPassword__section > .forgotPassword__form > form > .login__link {
    text-align: center;
    font-size: 18px;
}

.forgotPassword > .forgotPassword__section > .register__link > a,
.forgotPassword > .forgotPassword__section > .forgotPassword__form > form > .login__link > a {
    text-decoration: none;
    color: $primary;
    font-weight: bold;
    &:hover {
        color: $primary-hover;
    }
}

.forgotPassword > .forgotPassword__section > .register__link {
    text-align: center;
    padding-top: 10px;
}

.forgotPassword > .forgotPassword__section > .register__link > .text {
    margin-right: 5px;
}

